.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.logo {
  height: 7rem;
  width: 7rem;
  fill: var(--ifm-color-primary);
}

.heroSubtitle {
  font-size: 32px;
  font-weight: 500;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}